<h1>Shopping Cart</h1>

<%= form_tag(controller: "products", action: "add_to_cart", method: "post") do %>
  <%= label_tag :product %>
  <%= text_field_tag :product %><br>

  <%= submit_tag "Add" %>
<% end %>

<h2>Currently in your cart:</h2>
<% if @cart_items.count > 0 %>
  <ul>
    <% @cart_items.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any items yet.</p>
<% end %>
